 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-family: 'Kdam Thmor Pro', sans-serif;
  background-color: #deb887;
 }

 .container {
  width: 45%;
  margin: 10px auto;
  padding: 10px;
  /* border: solid 5px #00ea9f; */
 }

 .inputContainer {
  display: block;
  width: 85%;
  margin: 5px auto;
  height: 50px;
  padding: 2px;
  font-size: 1.5rem;
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #e9967a;
 }

 .renders, .seconds, .data {
  text-align: center;
  margin: 30px auto;
  font-size: 2.5rem;
  color: #ff4500;
 }

 .btnContainer {
  width: 85%;
  margin: 50px auto;
  /* border: solid 2px red; */
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 button {
  display: block;
  width: 30%;
  padding: 10px 5px;
  color:#00ea9f;
  font-size: 1.2rem;
  background-color: chocolate;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-family: 'Kdam Thmor Pro', sans-serif;
 }

 .focusBtn {
  margin: auto;
 }

 .footer {
  color: maroon;
  font-size: 0.85rem;
  text-align: center;
 }


 @media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90%;
  }

  .inputContainer {
    width: 90%;
    font-size: 1.2rem;
  }

   .renders, .seconds, .data {
    font-size: 2rem;
   }

   .footer {
    font-size: 0.75rem;
   }
 }




